{{!-- Put nav here --}}
<div>
    <span><a href="/users/profile">Profile</a> |</span>
    <span><a href="/posts">Posts</a></span>
    <hr>
<div>
<h1>Welcome, Administrator {{firstname}} {{lastname}}!</h1>
<h2>Email: {{email}}</h2>
<h3>Username: {{username}}</h3>
<form method="GET" action="/users/logout" id="logout" name="logout">
    <div>
        <button type="submit">Logout</button>
    </div>
</form>
<hr>
{{!-- TODO: List of 'undeleted' users to go here: --}}
<ul>
    {{#each users}}
    <li>
        <h2>User: {{FirstName}} {{LastName}}</h2>
        <form method="PUT" action="/users/{{UserId}}" 
            onsubmit="return confirm('Are you sure you want to delete this user?');">
            <button type="submit" >Delete</button>
        </form>
    </li>
    {{/each}}
</ul>
