{{!-- Put nav here --}}
<div>
    <span><a href="/users/profile">Profile</a> |</span>
    <span><a href="/posts">Posts</a></span>
    <hr>
</div>
<h1>Hello {{firstname}} {{lastname}}!</h1>
<h2>Email: {{email}}</h2>
<h3>Username: {{username}}</h3>
<form method="GET" action="/users/logout" id="logout" name="logout">
    <div>
        <button type="submit">Logout</button>
    </div>
</form>
<hr>
<h2>Posts I have authored</h2>
{{!-- TODO: List of posts written by this user should be displayed here --}}

<ul>
    {{#each posts}}
    <li>
        <h2>Title: {{PostTitle}}</h2>
        <p>{{PostBody}}</p>
        <form method="PUT" action="/posts/{{PostId}}">
            <button type="submit" >Edit</button>
        </form>
        <form method="DELETE" action="/posts/{{PostId}}" 
            onsubmit="return confirm('Are you sure you want to delete this post?');">
            <button type="submit" >Delete</button>
        </form>
    </li>
    {{/each}}
</ul>