<h1>Welcome to your login page, {{user.name}}</h1>
<hr />
<h3>Here is your profile information:</h3>
<p>Name: {{user.name}}</p>
<p>User Name: {{user.username}}</p>
<p>Age: {{user.age}}</p>
<p>id: {{user.id}}</p>
